div:focus {
    outline: none !important;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top {
        display: flex;
        width: 76%;
        .black__box {
            
            width: 85px;
            height: 130px;
            background-color: black;
            display: flex;
            align-items: flex-end;
            padding: 0;
            .span {
                font-size: 72px;
                color: white;
                position: relative;
                top: 6px;
                right: 9px;
                font-family: 'Playfair Display', serif;
            }
        }
    }

    .my__name {
        width: 76%;
        display: flex;
        align-items: center;

        .name {
            margin-left: 10px;
            font-family: 'DM Mono', monospace;
            font-family: 'Playfair Display', serif;
            letter-spacing: 2px;
            font-size: 14px;
        }
    }

    .introduce__me {
        width: 76%;
        font-family: 'DM Mono', monospace;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        p {
            line-height: 80px;
        }
    }

    .middle__big__text {
        width: 76%;
        font-size: 38px;
        font-family: 'DM Mono', monospace;
        font-family: 'Noto Sans JP', sans-serif;
        font-family: 'Playfair Display', serif;
    }

    .plane__text__container {
        padding-left: 20%;
        .plane__text {
            width: 55%;
        font-size: 22px;
        line-height: 34px;
        font-weight: 200;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        overflow-wrap: break-word;
        display: block;
        hyphens: none;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        }
    }

    .recent_projects__container {
        
        width: 77%;
        display: flex;

        .left {
            width: 100%;
            .top {
                display: flex;
                flex-direction: column;
            }

            .image__card__container {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                .image__container {
                    cursor: pointer;
                    position: relative;
                    #image1 {
                        width: 100%;
                        height: 100%;
                    }
                    .text__container2 {
                        position: absolute;
                        color: white;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        span {
                            font-size: 28px;
                            font-weight: 600;
                            font-family: 'Roboto', sans-serif;
                            letter-spacing: 9px;
                            line-height: 40px;
                        }
                    }
                }

                .text__container {
                    width: 99.6%;
                    border: 1px solid gainsboro;
                    height: 160px;
                    margin-top: -5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .inner__container {
                        width: 87%;
                        height: 100%;
                        .title {
                            font-weight: 700;
                            margin-top: 33px;
                        }
                        .text {
                            margin-top: 17px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            .image__container {
                cursor: pointer;
                position: relative;
                img {
                    width: 100%;
                }

                .text__in__container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    span {
                        font-size: 28px;
                        font-weight: 600;
                        font-family: 'Roboto', sans-serif;
                        letter-spacing: 9px;
                        line-height: 40px;
                        color: white;
                    }
                }
            }

            .text__container {
                cursor: pointer;
                width: 99.6%;
                    border: 1px solid gainsboro;
                    height: 160px;
                    margin-top: -5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .inner__container {
                        width: 87%;
                        height: 100%;
                        .title {
                            font-weight: 700;
                            margin-top: 33px;
                        }
                        .text {
                            margin-top: 17px;
                            line-height: 22px;
                        }
                    }
            }
        }
    }

    .slider__container {
        width: 76%;
        .slick-prev:before, .slick-next:before {
            color:black !important;
        }
        div {
            &:hover {
                outline: none;
            }
        }
    }

    .copyright {
        width: 78%;
        border-top: 1px solid gainsboro;
        height: 250px;
        display: flex;
        .text__container {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            p {
                color: gray;
                font-family: 'DM Mono', monospace;
                font-family: 'Playfair Display', serif;
            }
        }
        .sns__container {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            img {
                width: 30px;
                height: 30px;
                cursor: pointer;
                &:nth-child(1) {
                    margin-right: 20px;
                }
                &:nth-child(2) {
                    margin-right: 20px;
                }
            }
        }
    }


}

.short_line {
    width: 50px;
    height: 1px;
    background-color: gainsboro;
}